*{
    margin: 0;
    padding: 0;
}
body{
background-color: #97B1A6;
text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    background-color: beige;
height:18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
font-size: 8vmin;
color: rgb(191, 42, 42);
}
#reset{
    padding:1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: red;
    color: white;
    border: none;
}
#newGame{
    padding:1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: rgb(22, 62, 30);
    color: white;
    border: none;
}
#msg{
    color:white;
    font-size: 5vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display:none;
    
}